body {
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 20px;
    /*background: #1D1D1D;*/
    background:  #0bf;
}

p {
    line-height: 1.6em;
}

a {
    color: #000;
    text-decoration: none;
}

h1,
h2 {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: normal;
}

span {
    display: block;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

/*                                  ANIMATION KEYFRAMES*/
@keyframes sectionImgIn {
    0%   {filter: brightness(100%) }
    50%  { filter: brightness(25%) }
    100% { filter: brightness(25%) }
}
@keyframes sectionImgOut {
    0%   {filter: brightness(25%) }
    50%  { filter: brightness(100%) }
    100% { filter: brightness(100%) }
}

@keyframes sectionSpanIn {
    0%   { opacity: 0 }
    50%  { opacity: 1 }
    100% { opacity: 1 }
}
@keyframes sectionSpanOut {
    0%   { opacity: 1 }
    50%  { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes section {
    0%   {opacity: 0}
    50%  {opacity: 0}
    100% {opacity: 1}
}


/*                                  HEADER CLASSES*/
div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    background: #1D1D1D;
}

a.firmTitle {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

a.firmTitle span {
    margin-left: 7px;
    font-size: 40px;
    font-weight: normal;
    color: #0bf;
}

ul.mainNav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a.navItem {
    color: #0bf;
    margin-right: 20px;
}


/*                                  BODY CLASSES*/
div.sectionsList {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;

    height: 100%;
    align-items: center;
}

/*                  SECTION CLASSES*/
a.section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 200px;
    height: 400px;
    animation: section 2s forwards;
}

a.section img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%; 

    animation: sectionImgOut 2s forwards;
}

a.section span {
    display: block;
    animation: sectionSpanOut 2s forwards;
}

a.section:hover img {
    animation: sectionImgIn 2s forwards;
}

a.section:hover span {
    animation: sectionSpanIn 2s forwards;
}


/*                                  FOOTER CLASSES*/
div.footer {
    height: 65px;
    margin: 0 auto;
    padding: 0 20px;
    align-content: center;
    vertical-align: center;
    background: #1D1D1D;
}

ul.footerNav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a.footerNavItem {
    color: #0bf;
    margin-right: 20px;
}


 /*                                   ABOUT SECTION */

div.about {
    min-height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.aboutText {
    display: block;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

@media (max-width: 720px), handheld and (orientation: portrait) {
    div.sectionsList {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 0 20px;

        height: 100%;
    }

    a.section {
        display: flex;
        flex-direction: row;
        width: 100%;
        animation: none;
    }
    a.section img {
        animation: none;
    }

    a.section span {
        display: block;
        width: 100%;
        opacity: 1;
        animation: none;
    }

    a.section:hover span {
       animation: none;
    }
    a.section:hover img {
        animation: none;
    }
}

@media handheld and (orientation: landscape) {
     a.section {
        animation: none;
    }
    a.section img {
        animation: none;
    }
    a.section span {
        opacity: 1;
        animation: none;
    }
    a.section:hover span {
       animation: none;
    }
    a.section:hover img {
        animation: none;
    }
}

@media handheld {

    body {
        font-size: 13px;
    }
    a.firmTitle span { {
        font-size: 20px;
    }
    span {
        font-size: 13px;
    }
}