html {
	height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #495057;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
	overflow-y: auto;
  overflow-x: auto;
} 

.content {
	max-width: 1300px;
  min-width: 600px;
  width: 90vw;
  height: calc(100% - 8vh);
  display: grid;
}

.menu {
	display: flex; 
	position: fixed;
  top: 0px;
  align-items: center;
  height: 8vh;
}

.menu>a {
	margin: 4vh;
	color: #96f2d7;
  text-decoration: none;
}

.section  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8vh;
  height: 92vh;
}
.content-left, .content-right {
  height:calc(100% - 80.88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right {
  margin-top: 80.88px;
}

.house-roof-left {
	width: 0;
	height: 0;
	border-top: 25vh solid transparent;
	border-bottom: 25vh solid transparent;
	border-left: 25vh solid #495057;	
	margin-top: -75vh;
}

.house-roof-right {
        width: 0;
        height: 0;
        border-top: 25vh solid transparent;
        border-bottom: 25vh solid transparent;
        border-right: 25vh solid #495057;
	margin-left: 25.1vh;
	margin-top: -50vh;
}

.house-walls {
	width: 50vh;
	height: 50vh;
	background: radial-gradient(circle, rgba(208,202,85,1) 20%, rgba(155,61,189,1) 100%);
	margin-top: 0vh;
}



